*.txt
*.pdf
*.png
*.BAK
*.bk
*.exe
*.o
*.htm
*.gif
*.dat
*.dep
*.sch
*.pdb
*.res
*.idb
*.suo
*.exe.*
*.ilk
*.doc
*.user
*.XML
*.ini
*.zip
bak
*.bit
*.mak
*.mdp
*.ncb
*.obj
*.pch
*.pcb
AnFFT2GSsCtrlDlg.*
AqDrv4.*
vc*.*
*.H
Release
_UpgradeReport_Files
ncb
qqq
*.swp
